@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Inter", sans-serif;
}

:root {
    --orange: #FEBC8D;
    --purple: #8D05FE;
    --yellow: #FEF689;
    --gray: #C5C5C5;
}

#heroImg1 {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
}

#heroImg2 {
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.roundCard {
    border-bottom-left-radius: 150px;
}

.roundimg {
    border-bottom-left-radius: 120px;
}

.orange-text{
    color: var(--orange);
}
.gray-text{
    color: var(--gray);
}
.purple-text{
    color: var(--purple);
}